/* width */
::-webkit-scrollbar {
  width: 0.2rem !important;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #424242e3; */
  background: transparent !important;
  border-radius: 2px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
  width: 2px !important;
  border-radius: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.fr-class-footer {
  display: block;
  padding: 10px;
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  max-width: 100%;
}

.fr-class-button {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  padding: 5px;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}